@use '/src/styles/constants/colors';

button.selected_algin {
  padding: 8px 16px;
  height: 100%;
  background: colors.$WHITE;
  color: colors.$GRAY2;
  box-shadow: colors.$BOX_SHADOW;
  border-radius: 10px;
}

.dropdown_list_container {
  position: absolute;
  z-index: 10;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  box-shadow: colors.$BOX_SHADOW;
  border-radius: 10px;
  transition: height 0.3s;
  overflow-y: scroll;

  ul {
    display: flex;
    flex-direction: column;

    li {
      overflow: hidden;

      button {
        position: relative;
        padding: 6px 0;
        width: 100%;
        background: colors.$WHITE;
        transition: 0.2s;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          content: '';
          width: 100%;
          height: 1px;
          box-shadow: colors.$BOX_SHADOW;
        }
      }

      &:first-child button::before {
        display: none;
      }

      &:hover button {
        background: colors.$GRAY7;
      }
    }
  }
}

.drop_down_layer {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: default;
}
