@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: colors.$GRAY8;
  color: colors.$GRAY2;
}
