.image_viewer_container {
  .canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .title {
      width: 100%;
    }
  }
}
