.image_viewer_container {
  .canvas {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .title {
      position: relative;
      z-index: 3;
      width: 100%;
      padding: 0 10px;
    }

    .sub_title {
      position: relative;
      z-index: 3;
      width: 100%;
    }

    .dim_layer {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
