.selected_color > div {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 2px 6px, rgba(0, 0, 0, 0.06) 0px -1px 0px inset,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px inset;
}

.color_picker {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
