@use '/src/styles/constants/colors';

.selected_color > div {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  box-shadow: colors.$BOX_SHADOW;
}

.color_picker {
  position: absolute;
  top: calc(100% + 10px);
  left: -95px;
  z-index: 5;

  .layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: default;
  }
}
